* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
html {
  overflow-x: hidden;
  overflow-y: hidden;
}
.background {
  background: linear-gradient(to right, #f2994a, #f2c94c);
  height: 100vh;
  width: 100%;
}
.logo_image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#logo_image {
  margin-top: -20px;
  height: 250px;
  width: 250px;
}
.btn {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 5px;
  border-radius: 7px;
  font-size: 1.3rem;
  padding: 20px;
}
.btn:hover {
  color: #f2994a;
  background: white;
  cursor: pointer;
  box-shadow: 1px 1px 50px #f2c94c;
}
.btn-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
  margin-top: -2.7%;
  padding-top: 30px;
}
@media only screen and (max-width: 360px) {
  .btn {
    font-size: 1rem;
  }
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  color: white;
  font-size: 1.1rem;
}
#greetingText {
  position: absolute;
  top: 9.5rem;
  font-size: 1.7rem;
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  text-align: center;
  text-transform: capitalize;
}
